
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录 </title>
    <meta name="keywords" value="江苏九比特" />
    <meta name="description" />
    <link href="css/body.css" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/web_js.js"></script>
            <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
            <script type="text/javascript">
                $(function () {
                    $('.map_i li').hover(function () {
                        $(this).css({ zIndex: '3' }).find('.map_des').show();
                    }, function () {
                        $(this).css({ zIndex: '2' }).find('.map_des').hide();
                    });
                });
            </script>
</head>

<body>
    <div class="back_to_top"><a title="返回顶部" href="javascript:;"><i class="i"></i></a></div>

    <div class="container">

        <div class="container_page clearfix">
            <div class="head back_white">
                <div class="web_widht top clearfix">
                    <div class="logo left" ><a href="/"><img src="images/parkYanchenglogo.gif" style="height:80px;"/></a></div>
                    <div class="log_state right font16" id="login_status" style="display:block">
                     
                    </div>
                </div>
                <div class="nav font16">
                    <div class="clearfix web_widht">
                        <ul class="clearfix left">
                            <li  >
                                <a href="/parkYanCheng/">首 页</a></li@Html>
                            </li>
                            <li class="on"><a href="login">个人中心</a></li>
                            <li ><a href="map">停车场搜索</a></li>


                        </ul>
                        <div class="search_i  right relative">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="web_widht p_tb50 clearfix pb80">
                <div class="sug_com radius_3 back_white">
                    

<h1 class="text_center p_tb50 green font30 bo_b_hui ">会员登录</h1>
<form action="/parkYanCheng/authorityWeb" method="post" id="login_from">
    <div class=" table_a p_tb50">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="41%" align="right">用户名：</td>
                <td width="59%"><input class="input_a w280" type="text" name="username" id="username" /></td>
            </tr>
            <tr>
                <td align="right">密码：</td>
                <td><input class="input_a w280" type="password" name="password" id="password" />&nbsp;&nbsp;
            </tr>
        </table>
    </div>
    <div class="bo_t_hui p_tb50 text_center">
        <input class="but_a back_green color_f font18 radius_3 pointer" type="submit" name="login_btn" id="login_btn" value="立即登录" />&nbsp;&nbsp;<a href="register">还没账号?立即注册</a>
    </div>
</form>
<script>
    
</script>
                </div>
            </div>

     <div class="foot">         
        <p class="color_c"><a href="#">关于我们</a>&nbsp;&nbsp;｜&nbsp;&nbsp;<a href="#">联系我们</a>&nbsp;&nbsp;｜&nbsp;&nbsp;<a href="#">新闻中心</a>&nbsp;&nbsp;｜&nbsp;&nbsp;<a href="#">网站公告</a></p>
        <p>Copyright © 2015  版权所有 </a></p>
     </div>
             
		<script type="text/javascript">
			jQuery(".slideBox").slide({ mainCell: ".banner ul", autoPlay: true, effect: "left", delayTime: 1000, mouseOverStop: false });
			jQuery(".txtScroll-left").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", delayTime: 700, pnLoop: false, trigger: "click", mouseOverStop: false });
		</script>
        </div>
    </div>
</body>
</html>