#set($layout = "myLayout.vm")
<script src="js/log.js">
</script>
<div class="panel panel-default">
   <div class="panel-body">
	 <label  style="margin:5px">选择用户：</label>
	<select id="user-select" class="form-control" >
						<option >$users</option>
	</select>
</div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
	 <label  style="margin:5px">用户日志：</label>
	     <table class="table table-hover  table-condensed  table-bordered" id='parkTable' style="font-size:12px;" >
           <thead>
            <tr>         
					<th ><span >用户名</span></th>		
					<th><span >登录日期</span></th>			
            </tr>
          </thead>
          <tbody id="parkBody"></tbody>
          </table>
		  </div>
</div>
			<script >
			$.fn.log.initial();
            </script>