
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>智慧停车场-管理中心</title>
    <meta name="keywords" value="江苏九比特" />
    <meta name="description" />

		<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/body.css" rel="stylesheet" type="text/css" /> 
		<link href="css/master.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/web_js.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/artTemplate.js"></script>
    <script type="text/javascript" src="js/alert.js"></script>
    <script type="text/javascript" src="js/pagination.js"></script>
   <script src="js/jquery.json-2.4.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/region.js"></script>
    <script src="js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/managelayout.js" type="text/javascript" charset="utf-8"></script>

          
<style>
    .foot {
        background-color: #f2f2f3;
    }
</style>

</head>

<body>
    <div class="back_to_top"><a title="返回顶部" href="javascript:;"><i class="i"></i></a></div>

    <div class="container">

        <div class="container_page clearfix">
            <div class="head back_white">
                <div class="web_widht top clearfix">
                    
                    <div class="log_state right font16" id="login_status" style="display:block;padding-right:60px">
                        <a href="#" class="log" ">已登录</a>
                    </div>
                </div>
                <div class="nav font16">
                    <div class="clearfix web_widht">
                        <ul class="clearfix left">
                            <li  >
                                <a href="/">首 页</a></li@Html>
                            </li>
                            <li class="on"><a href="login">管理中心</a></li>
                            <li ><a href="map">停车场搜索</a></li>
                            <li ><a href="help">停车指南</a></li>
                            <li><a href="feedback">投诉建议</a></li>

                        </ul>

                    </div>
                </div>
            </div>
           <div class="web_widht p_tb50 clearfix" style="padding-bottom:140px;">
                <div class="vip_nav left radius_3 font16">
                    <h1 class="font30 color_f text_center">管理中心</h1>
                    <div id="left_head">
                        <dl>
                            <dt class="on"><a href="#">基础管理<i class="i"></i></a></dt>
                            <dd>
                                <ul id="daohang">
                                    <li id="daohang1" ><i class="i"></i><a href="parkinfo">车位信息</a></li>
                                    <li id="daohang2"><i class="i"></i><a href="parkchart" rel="order">流量图</a></li>
                                    <li id="daohang3"><i class="i"></i><a href="parkupdate" rel="reservation">车位更新</a></li>
                                    <li id="daohang4"><i class="i"></i><a href="announcement" rel="car">公告管理</a></li>
                                    <li id="daohang5"><i class="i"></i><a href="log" rel="car">日志管理</a></li>

                                </ul>
                            </dd>
                        </dl>
                          <dl>
                            <dt class="on"><a href="#">用户管理<i class="i"></i></a></dt>
                            <dd>
                                <ul id="daohanguser">
                                    <li id="daohanguser1"><i class="i"></i><a href="#" rel="info">查看用户</a></li>
                                    <li id="daohanguser2"><i class="i"></i><a href="#" rel="password">增删用户</a></li>
                                    <li id="daohanguser3"><i class="i"></i><a href="#" rel="paypassword">权限管理</a></li>
                                    <li id="daohanguser4"><i class="i"></i><a href="#" rel="paypassword">用户日志</a></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="on"><a href="#">帐号安全<i class="i"></i></a></dt>
                            <dd>
                                <ul>
                                    <li><i class="i"></i><a href="#" rel="info">修改资料</a></li>
                                    <li><i class="i"></i><a href="#" rel="password">修改登录密码</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="img_bfb m_t10">
                        <input class="but_a back_orange color_f font18 radius_3 pointer" style="width:100%" type="button" id="logout_btn" value="退出登录" />
                    </div>
                </div>

  <div class="vip_con right back_white radius_3" id="right_contain" >
                    

<div id="right_con">
	   <div class="vip_bok1 clearfix">
       $screen_content
</div>
  </div>
</div>

        <div class="foot back_white">
            <div class="web_widht">
                <div class="foot2 left color_9">
                    <p class="color_c"><a href="/about/">关于我们</a>&nbsp;&nbsp;｜&nbsp;&nbsp;<a href="/about/10">联系我们</a>&nbsp;&nbsp;｜&nbsp;&nbsp;<a href="/news/">新闻中心</a>&nbsp;&nbsp;｜&nbsp;&nbsp;<a href="/ann/">网站公告</a></p>
                    <p>Copyright © 2015  版权所有 </a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
		<script type="text/javascript">
			jQuery(".slideBox").slide({ mainCell: ".banner ul", autoPlay: true, effect: "left", delayTime: 1000, mouseOverStop: false });
			jQuery(".txtScroll-left").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", delayTime: 700, pnLoop: false, trigger: "click", mouseOverStop: false });
		</script>
        </div>
    </div>
	
</body>
</html>