
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>9Bit </title>
    <meta name="keywords" value="江苏九比特" />
    <meta name="description" />
    <link href="css/body.css" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/web_js.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/artTemplate.js"></script>
    <script type="text/javascript" src="js/alert.js"></script>
    <script type="text/javascript" src="js/pagination.js"></script>
    <script type="text/javascript" src="js/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="js/region.js"></script>
    <script src="js/zepto.min.js" type="text/javascript" charset="utf-8"></script>

            <script type="text/javascript">
                $(function () {
                    $('.map_i li').hover(function () {
                        $(this).css({ zIndex: '3' }).find('.map_des').show();
                    }, function () {
                        $(this).css({ zIndex: '2' }).find('.map_des').hide();
                    });
					
					$('#left_head dd a').click(function () {
						var rel = $(this).attr('rel');
						$('#pay_ewm').hide();
						if (rel != undefined) {
							$('#left_head li').removeClass('on');
							$(this).parent().addClass('on');
							user.init(rel);

							return false;
						}
					});
					$('#left_head dt a').click(function () {
						if ($(this).parent().hasClass('on')) {
							$(this).parent().removeClass('on');
						} else {
							$(this).parent().addClass('on');
						}
						$('#pay_ewm').hide();
						$(this).parent().next('dd').toggle();
						return false;
					});
                });
            </script>

    
<style>
    .foot {
        background-color: #f2f2f3;
    }
</style>

</head>

<body>
    <div class="back_to_top"><a title="返回顶部" href="javascript:;"><i class="i"></i></a></div>

    <div class="container">

        <div class="container_page clearfix">
            <div class="head back_white">
                <div class="web_widht top clearfix">
                    <div class="logo left" ><a href="/"><img src="images/logo.png" style="height:80px;"/></a></div>
                    <div class="log_state right font16" id="login_status" style="display:block">
                        <a href="login" class="log">登录</a><a href="register" class="reg">注册</a>
                    </div>
                </div>
                <div class="nav font16">
                    <div class="clearfix web_widht">
                        <ul class="clearfix left">
                            <li  >
                                <a href="/">首 页</a></li@Html>
                            </li>
                            <li class="on"><a href="login">个人中心</a></li>
                            <li ><a href="/map">停车场搜索</a></li>
                            <li ><a href="/help">停车指南</a></li>
                            <li><a href="/feedback/">投诉建议</a></li>
                            <li ><a href="/partner">加盟者</a></li>
                        </ul>
                        <div class="search_i  right relative">
                            <form action="/help/" method="post" onsubmit="return checksearch()">
                                <script>
                                    function checksearch() {
                                        if ($('#keywords').val().replace(/\s/ig, '') == '') {
                                            $('#keywords').focus();
                                            return false;
                                        }
                                        window.location.href = '/search/' + escape($('#keywords').val());
                                        return false;
                                    }
                                </script>
                                <input class="input_1 font14 radius_3" type="text" onblur="if(this.value=='') this.value='请输入关建字'" onclick="if(this.value=='请输入关建字') this.value=''" value="请输入关建字" name="keywords" id="keywords" />
                                <input class="but_1 absolute pointer" type="submit" name="button" id="button" value="" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           <div class="web_widht p_tb50 clearfix" style="padding-bottom:140px;">
                <div class="vip_nav left radius_3 font16">
                    <h1 class="font30 color_f text_center">个人中心</h1>
                    <div id="left_head">
                        <dl>
                            <dt class="on"><a href="#">基础服务<i class="i"></i></a></dt>
                            <dd>
                                <ul>
                                    <li class="on"><i class="i"></i><a href="">中心首页</a></li>
                                    <li><i class="i"></i><a href="parking.html" rel="order">停车记录</a></li>
                                    <li><i class="i"></i><a href="#" rel="reservation">预约记录</a></li>
                                    <li><i class="i"></i><a href="#" rel="car">我的车辆</a></li>
                                    <li><i class="i"></i><a href="#" rel="monthcard">我的月卡</a></li>
                                    <li><i class="i"></i><a href="#" rel="balance">电子钱包</a></li>
                                    <li><i class="i"></i><a href="#" rel="consume">消费记录</a></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="on"><a href="#">帐号安全<i class="i"></i></a></dt>
                            <dd>
                                <ul>
                                    <li><i class="i"></i><a href="#" rel="info">修改资料</a></li>
                                    <li><i class="i"></i><a href="#" rel="password">修改登录密码</a></li>
                                    <li><i class="i"></i><a href="#" rel="paypassword">修改支付密码</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="img_bfb m_t10">
                        <input class="but_a back_orange color_f font18 radius_3 pointer" style="width:100%" type="button" id="logout_btn" value="退出登录" />
                    </div>
                </div>

                <div class="vip_con right back_white radius_3" id="right_contain">
                    

<div id="right_con">
    <div class="vip_bok1 clearfix">
        <div class="acc_num left clearfix">
            <div class="port_r left font18 color_9 lh_30">
                <h3 class="font18"><b class="color_3">停车网友</b>&nbsp;&nbsp;您好！</h3>
                <p>帐号：186****2268</p>
            </div>
        </div>
        <div class="the_bal left">
            <br /><br /><br /><h1 class="font24 color_0">余额：<b class="red">￥0</b></h1><br />
            <a class="but_a back_green color_f radius_3" href="#" id="recharge_a">立即充值</a>&nbsp;&nbsp;<a class="but_a back_orange color_f radius_3" href="#" id="withdraw_a">提现</a>
        </div>
    </div>

        <div class="vip_bok3">
            <div class="title3 relative"><h1 class="green font24">停车记录</h1><a class="more i" href="#" id="order_a"></a></div>
            <div class=" table_b">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th width="12%">车牌号</th>
                        <th width="18%">停车时间</th>
                        <th width="30%">停车场</th>
                        <th width="15%">是否出站</th>
                        <th width="25%" style="text-align: right;">金额</th>
                    </tr>
                    <tr>
                        <td>{{item.carno}}</td>
                        <td>{{item.stoptime}}</td>
                        <td>{{item.parkingname}}</td>
                        <td class="green" >出站</td>
                        <td align="right">
                            <div class="relative tcsf display_bk" orderid="{{item.id}}">
                               <span class="red">{{item.payedmoney}}</span>元<i class="i"></i>
                                <div class="tcsf_nr absolute"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</div>

</div>

        <div class="foot back_white">
            <div class="web_widht">

                <div class="foot2 left color_9" style="padding: auto">
          
                    <p>Copyright © 2015  版权所有 </a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
		<script type="text/javascript">
			jQuery(".slideBox").slide({ mainCell: ".banner ul", autoPlay: true, effect: "left", delayTime: 1000, mouseOverStop: false });
			jQuery(".txtScroll-left").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", delayTime: 700, pnLoop: false, trigger: "click", mouseOverStop: false });
		</script>
        </div>
    </div>
	
</body>
</html>