#set($layout = "myLayout.vm")
<script src="js/parkinfo.js"></script>
<script src="js/alert.js"></script>
<script src="js/Area.js"></script>

<div style="padding-top:12%;" >   
          <table class="table table-hover  table-condensed  table-bordered"  style="font-size:12px;" >
           <thead>
            <tr>      
					<th ><span > </span></th>	
					<th ><span >Id</span></th>		
					<th><span >名称</span></th>
					<th><span>进出口数</span></th>
					<th><span >车位数</span></th>
					<th><span>剩余车位</span></th>
					<th><span >计费(日)</span></th>
					<th><span>计费(夜)</span></th>
					<th><span >状态</span></th>
					<th><span>是否免费</span></th>
					<th><span>楼层数</span></th>	
					<th><span>类型</span></th>
					<th><span>位置</span></th>
					<th><span >日期</span></th>	
            </tr>
          </thead>
          <tbody id="parkBody"></tbody>
          </table>
		   
        </div>

<script>
$(document).ready(function(){
//	initComplexArea('seachprov', 'seachcity', 'seachdistrict', area_array, sub_array, '44', '0', '0');
	$.fn.park.initial()
});
</script>