#set($layout = "manageLayout.vm")
<script src="js/usersView.js"></script>
<link href="css/tables.css" rel="stylesheet">
<link href="css/master.css" rel="stylesheet">
<div id="user">
<div class="row" style="width:100%">
<div class="box grid_12" style="width:100%">             
        

          <table class="table table-hover  table-condensed table-bordered"  style="font-size:12px" id='accessTable' >
           <thead>
            <tr>
					<th ><span style="">ID</div></th>		
					<th><span style="">用户名</div></th>
					<th><span style="">密码</div></th>
					<th><span style="">注册时间</div></th>
            </tr>
          </thead>
          	<tbody id="userBody">		
			</tbody>
          </table>
		    </div>
		    <div id='pagination'></div>
        </div>
        </div>
	<div >
	


<script>
$(document).ready(function(){
	$("#userBody").user.initial();
});

</script>